@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

#root {
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0 0;
  padding: 0;
}

.title {
  width: 100%;
  color: aliceblue;
  font-size: 3vh;
  font-weight: 600;
}

.container {
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* background: #242424; */
  background-image: url('./components/bull-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}


.container form, .response-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* margin: auto; */
  width: 60%;
  min-width: 300px;
  min-height: 80vh;
  border-radius: 1vh;
  background: linear-gradient(45deg, rgb(163, 167, 172) 0%, rgb(231, 213, 213) 100%);
  box-shadow: -.5vh .5vh 2vh #00000070;
  padding: 1vh;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
}


.response-box {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* margin: auto; */
  width: 50vh;
  min-width: 20vh;
  min-height: 80vh;
  border-radius: 1vh;
  /* background: #fffffff5; */
  /* box-shadow: .5vh .5vh 2vh #00000070; */
  /* padding: 1vh;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  background: linear-gradient(45deg, rgb(172, 172, 163) 0%, rgb(213, 231, 214) 100%);
  
}

.waiting {
  font-size: 20px;
  color: #5e5454;
  font-weight: 600;
}

.response {
  font-size: 20px;
  font-weight: 500;
}

.response-container {
  background: linear-gradient(90deg, rgba(255, 236, 199, 1) 0%, rgb(231, 231, 213) 100%);
  width: 30vh;
  padding: 2vh;
  box-shadow: .1vh .1vh .3vh #000000a6 inset;

  border-radius: 1vh;
}

.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* margin: auto; */
  width: 59vh;
  min-height: 80vh;
  border-radius: 1vh;
  /* background: #fffffff5; */
  /* box-shadow: .5vh .5vh 2vh #00000070; */
  padding: 1vh;
}
