@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

#root {
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  width: 100%;
  color: rgb(200, 217, 233);
  font-size: 2.5vh;
  font-weight: 400;
  padding: 1vh;
}

.container {
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url('./components/bull-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}


.container form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 300px;
  min-height: 100vh;
  box-shadow: -.5vh .5vh 2vh #00000070;
}


.response-box {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* margin: auto; */
  width: auto;
  min-width: 20vh;
  min-height: 50vh;
  border-radius: 0.5vh;
  box-shadow: 1vh 1vh 2vh #00000070;
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}

.waiting {
  font-size: 17px;
  color: #5e5454;
  font-weight: 600;
  width: 100%;
  height: auto;
  padding: .2vh;
}

.response {
  font-size: 17px;
  font-weight: 500;
  padding: .5vh;
}

.response-container {
  background: linear-gradient(90deg, rgb(238, 224, 197) 0%, rgb(236, 236, 228) 100%);
  width: 30vh;
  padding: 2vh;
  box-shadow: .1vh .1vh .3vh #000000a6 inset;

  border-radius: 1vh;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: .5vh;
  margin-top: .5vh;
  width: 100%;
  min-height: auto;
  border-radius: .5vh;
  padding-bottom: 1vh;
  background: #fff;
}

.div-title {
  width: 100%;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 231) 100%);
  border-top-left-radius: .5vh;
  border-top-right-radius: .5vh;
  padding: 1vh;
  margin-bottom: 2vh;
}

.box-response Button {
  width: 20vh;
}